
@{
    ViewBag.Title = "销售卖点";
}
@section styles{
    <link href="~/Css/jquery.datatables.css" rel="stylesheet" />
    <link href="~/Css/selling.css" rel="stylesheet" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
    <link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">请输入商品名称/销售卖点</label>
                    <input type="text" class="form-control" style="max-width:700px;width:500px;" id="txtName" placeholder="请输入商品名称/销售卖点标题">
                </div>
                <input type="button" id="btnSearch" class="btn btn-primary btn btn-sm white" value="查询" />
            </form>
        </div>
    </div>
</div>
<div class="row">
    <ul class="filemanager-options">
        <li>
            <div class="ckbox ckbox-default">
                <input type="checkbox" data-func="selectall" data-name="check" name="check" id="selectall" value="">
                <label for="selectall">全选</label>
            </div>
        </li><li class="inline">
    <span>
        <a class="btn btn-default btn-sm btn-default " id="batchDel">删除</a>
    </span></li>
<li class="filter-type">
            <a class="btn btn-primary btn-sm white" href="/SellPoint/Operate" id="AddSellP" data-title="发布销售卖点">发布销售卖点</a>
        </li>
    </ul>
</div><!--总体操作-->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table mb30">
                    <thead>
                        <tr>
                            <th></th>
                            <th>销售卖点标题</th>
                            <th>归属商品</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodySP">
                       
                    </tbody>
                </table>
                <span id="pager" class="pager" style="float:right;">
                </span>
            </div><!--table-responsive-->
        </div><!--panel-body-->
    </div>
</div><!--panel-->
@section scripts
{
    <script src="~/Scripts/public.js"></script>
    <script src="~/Plugin/selectall/jquery-selectall.js"></script>
    <script src="~/Plugin/pager/jquery-pager.js"></script>
<script src="~/Scripts/SellPoint/Index.js"></script>
}
