@charset "utf-8";
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.navbar .right .save{
	display: block;
	width: 50px;
	height: 26px;
	line-height: 26px;
	border: 1px solid white;
	color: white;
	text-align: center;
	box-sizing: content-box;
	border-radius: 4px;
	font-size: 0.875em;
}


.ifoDetial{
	width: 100%;
	padding: 0 20px;
}
.ifoDetial ul{
	width: 100%;
	background-color: white;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-bottom: 20px;
}

.ifoDetial ul .touxiangBox{
	width: 100%;
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
	overflow: hidden;
}
.touxiangBox span{
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
}
.touxiangBox sup{
	float: left;
	color: red;
	padding-top: 10px;
}
.touxiangBox .touxiang{
	float: right;
	width: 35px;
	height: 35px;
	border: 1px dashed #cfc9c9;
	position: relative;
}
.touxiangBox .touxiang .puls{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 50%;
	right: 50%;
	margin-left: -10px;
	margin-top: 6px;
}
.shopNameBox{
	width: 100%;
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
	overflow: hidden;
}

.shopNameBox span{
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
}
.shopNameBox sup{
	float: left;
	color: red;
	padding-top: 2px;
}
.shopNameBox .name{
	float: right;
	height: 30px;
	line-height: 30px;
	color: #808080;
}
.edBox{
	width: 100%;
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
	overflow: hidden;	
}

.edBox span{
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
}
.edBox sup{
	float: left;
	color: red;
	padding-top: 2px;
}
.edBox .inPut{
	width: 120px;
	float: right;
	text-align: right;
	border: 0;
	height: 30px;
	line-height: 30px;
	color: #cccccc;
}

.address{
	width: 100%;
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
	overflow: hidden;
	margin-bottom: -1px;
}

.address span{
	display: block;
	float: left;
	line-height: 45px;
}
.address sup{
	float: left;
	color: red;
	padding-top: 10px;
}
.address .adr{
	width: 70%;
	text-align: right;
	line-height: 20px;
	float: right;
	padding-right:28px ;
	color: #808080;
	background: url(../img/adricon.png) no-repeat right center;
	background-size: 20px;
	word-wrap: break-word; 
}
.step3 .btn{
	width:48px;
	height:28px;
	float:right;
	border:1px solid #dbdbdb;
	-webkit-border-radius:28px;
	margin-top:7px; 
	position:relative;
	/*border-color:white; */
	-webkit-transition:all .3s linear;
}
.step3 .circle{
	display:block;
	width:26px;
	height:26px; 
	background-color:white;
	-webkit-border-radius:50%;
	-webkit-box-shadow:0 0 10px rgb(200,200,200); 
	position:absolute;
	left:0;
	top:0px;
}
.step3 .current{ 
	background-color:#53d769; 
	border:1px solid #53d769;
}


.text{
	width: 68%;
	height: 30px;
	text-align: right;
	float: right;
	color: #808080;
	border: 0;
}

.foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0 20px;
	margin-bottom: 20px;
}

.foot input{
	width: 100%;
	height: 40px;
	background-color: #ef5350;
	border: 0;
	border-radius: 4px;	
	color: white;
	font-size: 1em;
}


.textSalesbox{
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 20px;
	padding-bottom: 5px;
	background-color: white;
	margin-bottom:15px ;
	overflow: hidden;
}
.textSales{
	width: 100%;
	min-height:120px; 
	word-wrap: break-word;
	overflow-y: hidden;
	max-height: 200px;
	color: #666666;
	font-size: 0.875em;
	border: 0;
	
}
.saveSales{
	width: 100%;
	padding: 0 20px;	
}

.saveSales input{
	width: 100%;
	height: 40px;
	background-color: #ef5350;
	border: 0;
	border-radius: 4px;	
	color: white;
	font-size: 1em;	
}

.textSalesbox p{
	float: right;
	color: #999999;
	font-size: 0.756em;
}

