@charset "utf-8";
.list_related{
	width: 100%;
	padding: 10px 20px;
	background-color: white;
	margin-top: 20px;
	color: #333333;
}
.list_related .box{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.list_related .box .icon{
	width: 27px;
	height: 27px;
	float: left;
}
.list_related .box p{
	float: left;
	line-height: 27px;
	margin-left: 10px;
	font-size: 15px;
	color: #333333;
}
.list_related .box .arrow{
	float: right;
	width: 20px;
	padding-top: 4px;
}
.list_related .text{
	width: 100%;
}

.proShow{
	width: 100%;
	padding-left: 10px;
	background-color: white;
}
.proShow .showBox {
	width: 100px;
	padding-bottom: 15px;
	
}
.proShow .showBox .pro{
	width: 100%;
	margin-bottom: 5px;
	margin-right: 40px;
}
.proShow .showBox .sales,.appraise{
	width: 100%;
	font-size: 14px;
	text-align: center;
	line-height: 22px;
}
.proShow .showBox .sales span:nth-child(1){
	color: #999999;
}
.proShow .showBox .sales span:nth-child(2){
	color: #666666;
}
.proShow .showBox .appraise span:nth-child(1){
	color: #999999;
}
.proShow .showBox .appraise span:nth-child(2){
	color: #666666;
}
.list_related .text p{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: url(../img/detail_knowledge.png) no-repeat left center;
	background-size: 15px 15px;
	font-size: 17px;
	padding-left: 30px;
	line-height: 30px;
}
.list_related .text .textBox{
	width: 100%;
	overflow: hidden;
}
.list_related .text .textBox .qus{
	float: left;
	max-width: 60%;
}
.list_related .text .textBox .pinluin{
	float: right;
	overflow: hidden;
	background-image:none ;
}
.pinluin p:nth-child(1){
	background: url(../img/good_detail.png) no-repeat left center;
	padding-left: 20px;
	background-size: 16px 16px;
	font-size: 14px;
	color: #666666;
	line-height: 30px;
	float: left;
	padding-top: 2px;
}
.pinluin p:nth-child(2){
	background: url(../img/dialogue_detail.png) no-repeat left center;
	padding-left: 20px;
	background-size: 16px 16px;
	font-size: 14px;
	color: #666666;
	line-height: 30px;
	float: left;
	margin-left: 5px;
	padding-top: 2px;
}








