@charset "utf-8";
body{
	padding-bottom: 44px;
}
.waitPay{
	width: 100%;
	padding: 10px 20px;
	overflow: hidden;
	background-color: #d9d9d9;
}
.waitPay img{
	float: left;
	width: 22px;
	margin-right: 14px;
}
.waitPay .detail{
	float: left;
	line-height: 26px;
	color: #999999;
}
.waitPay .detail span{
	padding-left: 14px;
}
.address{
	width: 100%;
	padding: 10px 20px;
	overflow: hidden;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	background-color: white;
	margin-bottom: 10px;
}
.address img{
	width: 100%;
	
}
.address .addressBox{
	/*width: 80%;*/
	padding-left: 14px;
	line-height: 26px;
	color: #999999;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
}
.addressBox p{
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}
.addressBox .name{
	font-size: 18px;
	padding-bottom: 5px;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
}
.addressBox .name .phoneNum{
	display: block;
	float: right;
}
.addressBox .direction{
	font-size: 14px;
	line-height: 1.4;
}

.list-block{
	width: 100%;
	padding: 0 10px;
	border-radius: 2px; 
	position: relative;
	background-color: white;
}


.item-content{
	width: 100%;
	padding:10px 0;
	align-items:center;
	overflow: hidden;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	border-bottom: 1px solid #e6e6e6;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	background-color: white;
}
.contentBox{
	width: 100%;
	padding:0 10px;
	align-items:center;
	overflow: hidden;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	background-color: white;
}
.box{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e6;
}
.box label{
	float: left;
}
/*order-qrcode*/
.right-counts{
	width: 105px;
	font-size: 14px;
	float: right;
}
.count-mp{
	width: 26px; 
	height: 26px; 
	line-height: 25px; 
	border-radius: 2px; 
	text-align: center;
	display: inline-block;
}
.count-mp-input{
	width:40px; 
	height: 26px; 
	text-align: center;
	border:1px solid #cccccc;
	margin-top: -1px;
}
.count-minus{
	border: 1px solid #b3b3b3;
	color: #b3b3b3;
	
}
.count-plus{
	border: 1px solid #d53e41;
	color: #d53e41;
}


.item-media{
	display:flex;
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	-webkit-box-lines:single;
	-moz-box-lines:single;
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:none;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	float: left;
}
.item-media img{
	width: 80px;
} 

.item-inner{
	flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	padding-left:10px;
	/*width:72%;*/
	font-size:15px;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	color: #323232;
}
.item-title-row{
	width:100%;
	overflow:hidden;
}
.item-title{
	width: 100%;
	color: #323232;
	line-height: 20px;
	font-size: 0.875em;
	line-height: 20px;
	position:relative;
	/*overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	display: -webkit-box;*/
}
.delete{
	float: right;
	width: 16px;
}
.item-subtitle{
	/*width: 100%;*/
	white-space:nowrap;
	color:#666666;
	font-size: 0.875em;
	line-height: 20px;
	overflow: hidden;
}
.item-subtitle p{
	float: left;
	color: #333333;
	font-size: 16px;
	line-height: 1.4;
	padding-left: 10px;
}
.num{
	float: right;
	margin-top: 20px;
	margin-left: 50px;
}
.checkBox{
	float: left;
	margin-right: 10px;
}
.checkBtn{
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cccccc;
}
.crSpan{
	border: 1px solid #ef5350;
	background-image: url(../img/rig.png);
	background-size: 100%;
}

.item-text{
	width: 100%;
	white-space:nowrap;
	color:#999999;
	font-size: 0.875em;
	line-height: 20px;
}
.item-text span:nth-child(1){
	padding-left: 10px;
	padding-right: 10px;
	border-right:1px solid #999999;
	margin-right: 5px;
}
.item-text span:nth-child(2){
	padding-left: 10px;
	padding-right: 5px;
}
.foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	
}
.footbox{
	width: 100%;
	height: 54px;
	background-color: #fafafa;
	font-size: 1em;
	border-top: 1px solid #cccccc;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.checkallBox{
	/*width: 160px;*/
	width: 40%;
	padding-left: 20px;
	overflow: hidden;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	align-items:center;
	-webkit-align-items: center;
	
}

.checkText{
	color: #333333;
	background: url(../img/index_phone.png) no-repeat left center;
	padding-left: 30px;
	background-size: 20px 20px;
}
.footbox .cancel{
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	padding-top: 10px;
}
.footbox .cancel button{
	display: block;
	width: 80%;
	height: 34px;
	border: 0;
	border-radius: 4px;
	background-color: white;
	color: #666666;
	margin: 0 auto;
	border: 1px solid #d9d9d9;
}
.footbox .buyNow{
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	padding-top: 10px;
}
.footbox .buyNow button{
	display: block;
	width: 80%;
	height: 34px;
	border: 0;
	border-radius: 4px;
	background-color: #EF5350;
	color: white;
	margin: 0 auto;
}






