@charset "utf-8";

.list-block{
	width: 100%;
	padding: 0 10px;
	border-radius: 2px; 
	position: relative;
	background-color: white;
}


.tab-reg{ 
	z-index: 1;  
	line-height: 24px;  
	padding: 2px 33px 33px;  
	color: #fff;
    transform: rotate(315deg);
    -ms-transform:rotate(315deg);
    -moz-transform:rotate(315deg);
    -webkit-transform:rotate(315deg);
    font-size: 14px;  
    position: absolute;  
    margin: -11px 0px 0px -39px;   
    border-right: 25px solid transparent;  
    border-left: 25px solid transparent;
}

.item-content{
	width: 100%;
	padding:10px 0;
	align-items:center;
	overflow: hidden;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	border-bottom: 1px solid #e6e6e6;
}
.item-media{
	display:flex;
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	-webkit-box-lines:single;
	-moz-box-lines:single;
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:none;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	float: left;
}
.item-media img{
	width: 80px;
} 

.item-inner{
	flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	padding-left:10px;
	/*width:72%;*/
	font-size:15px;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	color: #323232;
}
.item-title-row{
	width:100%;
	overflow:hidden;
}
.item-title{
	width: 100%;
	color: #333333;
	line-height: 20px;
	font-size: 1em;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	display: -moz-box;
	line-height: 20px;
}
.delete{
	float: right;
	width: 16px;
}
.item-subtitle{
	width: 100%;
	white-space:nowrap;
	color:#666666;
	font-size: 0.875em;
	line-height: 20px;
	overflow: hidden;
}
.item-subtitle p{
	float: left;
	color: #ef5350;
	font-size: 18px;
	line-height: 1.4;
}
.checkBox{
	float: left;
	margin-right: 10px;
}
.checkBtn{
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cccccc;
}
.crSpan{
	border: 1px solid #ef5350;
	background-image: url(../img/rig.png);
	background-size: 100%;
}

.item-text{
	width: 100%;
	white-space:nowrap;
	color:#999999;
	font-size: 0.875em;
	line-height: 20px;
}
.item-text span:nth-child(1){
	padding-left: 10px;
	padding-right: 10px;
	border-right:1px solid #999999;
	margin-right: 5px;
}
.item-text span:nth-child(2){
	padding-left: 10px;
	padding-right: 5px;
}
.foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	
}
.footbox{
	width: 100%;
	height: 54px;
	background-color: #fafafa;
	font-size: 1em;
	border-top: 1px solid #cccccc;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.checkallBox{
	/*width: 160px;*/
	width: 30%;
	padding-left: 10px;
	overflow: hidden;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display:-webkit-flex;
	display: flex;
	align-items:center;
	-webkit-align-items: center;
	
}
.checkallBox .checkAll{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cccccc;
	margin-right: 10px;
}
.footbox .huaijia{
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	padding-top: 10px;
}
.footbox .huaijia button{
	display: block;
	width: 80%;
	height: 34px;
	border: 0;
	border-radius: 4px;
	background-color: #EF5350;
	color: white;
	margin: 0 auto;
}
.footbox .buyNow{
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	padding-top: 10px;
}
.footbox .buyNow button{
	display: block;
	width: 80%;
	height: 34px;
	border: 0;
	border-radius: 4px;
	background-color: #EF5350;
	color: white;
	margin: 0 auto;
}
.checkallBox .crSpan{
	border: 1px solid #ef5350;
	background-image: url(../img/rig.png);
	background-size: 100%;
}


.heji{
	width: 100%;
	padding-left: 20px;
	background-color: #faefd9;
	display: none;
}
.heji span{
	color: #EF5350;
	line-height: 44px;
	font-size: 18px;
}
.heji span:nth-child(1){
	color: #333333;
	font-size: 15px;
}


