   <link href="../css/jquery.datatables.css" rel="stylesheet">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
					  <form class="form-inline">
						<div class="form-group">
						  <label class="sr-only" for="exampleInputEmail2">请输入门店名称/联系人</label>
						  <input type="text" class="form-control input-sm" id="exampleInputEmail2" placeholder="请输入门店名称/联系人">
						</div>
						<div class="form-group">
							<select class="form-control select-sm">
			                  <option>请选择区域</option>
			                  <option>上海</option>
			                  <option>上海</option>
	               		    </select>
						</div>
						<div class="form-group">
							<select class="form-control select-sm">
			                  <option>门店状态</option>
			                  <option>待审核</option>
			                  <option>待分配</option>
			                  <option>已拒绝</option>
	               		    </select>
						</div>
						<button type="button" class="btn btn-primary btn-sm">查询</button>
					  </form>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="filemanager-options">
					<li>
					  <div class="ckbox ckbox-default">
						<input type="checkbox" id="selectall"  onclick="allSelect()" value="1">
						<label for="selectall">全选</label>
					  </div>
					</li>
					<li>
						<a class="btn btn-default btn-sm btn-default ">删除</a>
					</li>
					<li class="filter-type">
						<a class="btn btn-primary btn-sm" style="color: white;">导入</a>
						<a class="btn btn-primary btn-sm white winO2OPanel" data-toggle="modal" data-target=".bs-example-modal-lg" data-url="alertAgent.html" data-title="新增门店">新增门店</a>
					</li>
				  </ul>
    	</div><!--总体操作-->
    	<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table mb30">
							<thead>
								<tr>
									<th>选择</th>
									<th>名称</th>
									<th>区域</th>
									<th>导购</th>
									<th>联系人</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox1">
											<label for="checkbox1"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)" class="HrefFrame" data-url="channelAgeDet.html" data-div=".contentpanel" data-title="门店详情">上海喜盈门代理</a></td>
									<td>上海  黄浦区</td>
									<td>2</td>
									<td>李健</td>
									<td>待验证</td>
									<td>
										<a  class="winO2OPanel" data-toggle="modal" data-target=".bs-example-modal-lg" data-url="alertAgeEdit.html" data-title="编辑门店">编辑</a>
										<a >删除</a>
										<a >暂停</a>
									</td>
								</tr>
								<tr class="tr-Shelter">
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox2">
											<label for="checkbox2"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)" class="HrefFrame" data-url="channelAgeDet.html" data-div=".contentpanel" data-title="代理商详情">上海喜盈门代理</a></td>
									<td>上海  黄浦区</td>
									<td>2</td>
									<td>李健</td>
									<td>已拒绝</td>
									<td>
										<a  class="winO2OPanel" data-toggle="modal" data-target=".bs-example-modal-lg" data-url="alertAgeEdit.html" data-title="编辑门店">编辑</a>
										<a >删除</a>
										<a >暂停</a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox3">
											<label for="checkbox3"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)" class="HrefFrame" data-url="channelAgeDet.html" data-div=".contentpanel" data-title="代理商详情">上海喜盈门代理</a></td>
									<td>上海  黄浦区</td>
									<td>2</td>
									<td><a >李健</a></td>
									<td>待分配</td>
									<td>
										<a  class="winO2OPanel" data-toggle="modal" data-target=".bs-example-modal-lg" data-url="alertAgeEdit.html" data-title="编辑门店">编辑</a>
										<a>删除</a>
										<a>暂停</a>
									</td>
								</tr>
								
							</tbody>
						</table>
						<div class="dataTables_info" id="table2_info" role="status" aria-live="polite">一共100条数据  每页显示 <input type="text"  value="4" style="width: 40px; text-align: center;" disabled=""> 共3页</div>
						<div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
							<a class="paginate_button first disabled" aria-controls="table2" data-dt-idx="0" tabindex="0" id="table2_first">首页</a>
							<a class="paginate_button previous disabled" aria-controls="table2" data-dt-idx="1" tabindex="0" id="table2_previous">上一页</a>
							<span>
								<a class="paginate_button current" aria-controls="table2" data-dt-idx="2" tabindex="0">1</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="3" tabindex="0">2</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="4" tabindex="0">3</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="5" tabindex="0">4</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="6" tabindex="0">5</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="7" tabindex="0">6</a>
							</span>
							<a class="paginate_button next" aria-controls="table2" data-dt-idx="8" tabindex="0" id="table2_next">下一页</a>
							<a class="paginate_button last" aria-controls="table2" data-dt-idx="9" tabindex="0" id="table2_last">尾页</a>
						</div>
					</div><!--table-responsive-->
				</div><!--panel-body-->
			</div><!--panel-->
			</div><!---row-->