@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0;
    font-size:1em; font-family: "方正黑体简体","微软雅黑" ,sans-serif;  }

td,th,caption { font-size:1em; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var ,i{ font-style:normal; font-weight:normal;}


img { border:none;display:block; }
ol,ul,li { list-style:none; }
input, textarea, select, button, option { font-size:14px;outline:none; }
textarea{ resize:none;}
table { border-collapse:collapse; }
input{
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}
body{
	background-color: #f2f2f2;
}
a{ text-decoration:none;}/*点击高亮颜色透明 */ 
/*a:active{
	background: rgba(255,255,255,0.5);
}
input:active{
	background: rgba(255,255,255,0.5);
}*/
a:hover { text-decoration:none; }
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: transparent; /* 点击无蓝色边框*/
    -webkit-appearance: none;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1428744223_3974035.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1428744223_3974035.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1428744223_3974035.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1428744223_3974035.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1428744223_3974035.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon-xian{
	font-family: iconfont;
	color: #d84046;
	font-size: 18px;
}
.icon-cu{
	font-family: iconfont;
	color: #ffab40;
	font-size: 18px;
}
.icon-xin{
	font-family: iconfont;
	color: #a8d142;
	font-size: 18px;
}
.icon-zen{
	font-family: iconfont;
	color: #64b0db;
	font-size: 18px;
}
.icon-huan{
	font-family: iconfont;
	color: #64b0db;
	font-size: 18px;
}             
select,input,option{outline:none}
.lef{ float:left;}
.rig{ float:right;}
.cle{clear:both;}
.navbar,.toolbar{
	height:44px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:17px;
	position:relative;
	margin:0;
	z-index:500;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	background-color: #d54041;
}

.navbar-inner,.toolbar-inner{
	width:100%;
	height:100%;
	padding:0 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
}
.navbar .left,.navbar .right{
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;-webkit-box-pack:start;
	-ms-flex-pack:start;
	-webkit-justify-content:flex-start;
	justify-content:flex-start;/* -webkit-box-align:center; */
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.navbar .center{
	font-size:17px;
	font-weight:500;
	text-align:center;
	margin:0;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	line-height:44px;
	-webkit-flex-shrink:10;
	-ms-flex:0 10 auto;
	flex-shrink:10;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	color: white;
}
i.icon.icon-back{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19'><g><path fill='%23fff' d='M9.5,1C14.2,1,18,4.8,18,9.5S14.2,18,9.5,18S1,14.2,1,9.5S4.8,1,9.5,1 M9.5,0C4.3,0,0,4.3,0,9.5 S4.3,19,9.5,19S19,14.7,19,9.5S14.7,0,9.5,0L9.5,0z'/></g><line stroke='%23fff' stroke-miterlimit='10' x1='11.1' y1='4.9' x2='6.2' y2='9.8'/><line stroke='%23fff' stroke-miterlimit='10' x1='6.2' y1='9.2' x2='11.1' y2='14.1'/></svg>");
}
i.icon.icon-bars{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 26'><path fill='%23fff' d='M0,0h4v4H0V0z M8,1h34v2H8V1z M0,11h4v4H0V11z M8,12h34v2H8V12z M0,22h4v4H0V22z M8,23h34v2H8V23z'/></svg>")

}

.link .back-icon,.link .list{
	font-family: iconfont;
	font-size: 34px;
	color: white;
}

.navbar{
	margin-bottom: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
}
.right{
	position: relative;
}
.right .listMenu{
	position: absolute;
	width: 140px;
	height: 120px;
	left: -110px;
	top: 30px;
	background: url(../img/nav.png);
	background-size: 100% 100%;
	box-sizing: border-box;
	padding-top: 20px;
	padding-left: 20px;
	z-index: 300;
	display: none;
}

.right .listMenu li{
	width: 100%;
	height: 34px;
	overflow: hidden;
}
.right .listMenu li img{
	box-sizing: content-box;
	width: 20px;
	float: left;
	padding-right: 10px;
}
.right .listMenu li span:nth-child(2){
	width: 90px;
	color: #333333;
	height: 28px;
	font-size: 0.8em;
	border-bottom: 1px solid #e5e5e5;
}




.navbar .right .save{
	display: block;
	width: 50px;
	height: 26px;
	line-height: 26px;
	border: 1px solid white;
	color: white;
	text-align: center;
	box-sizing: content-box;
	border-radius: 4px;
	font-size: 0.875em;
}












