body{
	font-family:"Microsoft YaHei", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666;
	font-size: 14px;
	background: #e1e0e0;
	position: relative;
	overflow: hidden;
}


@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

a{ text-decoration: none; color: #666;}
a:hover{text-decoration: none; color: #666;}
.clearfix{
	clear: both;
}

