
@{
    Layout = "~/Areas/AgentState/Views/Shared/_ChildLayout.cshtml";
}
@section styles{
    @* <link href="~/Css/batch.css" rel="stylesheet" />*@
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
    <link href="~/Css/base.css" rel="stylesheet" />
    <link href="~/Plugin/upload/css/upload.css" rel="stylesheet" />    }
<div class="panel panel-default">
    <div class="panel-heading">
        <form action="/AgentState/AgentGoods/UpdateBatchGoods " id="formList" method="post" data-ajax="true" data-intercept="true"
              data-callback="UpdateBatchGoods" class="form-horizontal form-bordered">
            <input type="hidden" id="hidids" name="hidids" value="@ViewBag.gaids" />
            <ul class="textedit">
                <li class="jiajian">
                    <span>商品利润</span>
                    <div class="right-counts">
                        <a class="count-mp count-minus" id="minusNum">-</a>
                        <input class="count-mp-input" name="percent" id="percent" type="text" value="10.00">%
                        <a class="count-mp count-plus" id="addNum">+</a>
                    </div>
                </li>
                <li class="form-inline">
                    <span>状态</span>
                    @Html.DropDownList("isSales", null, new { @class = "ver-select  select-sm" })
                </li>
                <li class="form-inline">
                    <span>私有商品介绍</span>
                    <textarea class="form-control" id="EContentEditor" name="EContentEditor" rows="10" style=" height:500px;"></textarea>
                </li>
                <li>
                    <input type="button" class="btn btn-primary btn-sm" id="btnSave" value="保存" />
                    <input type="button" class="btn btn-default" id="EditClose" value="取消" />
                </li>
            </ul>
        </form>
</div>
</div>
@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Plugin/upload/script/util.js"></script>
    <script src="~/Plugin/form/jquery-ajax.js"></script>
    <script src="~/Plugin/upload/jquery-upload.js"></script>
    <script src="~/Scripts/Common/Common.js"></script>
    <script>

        function windowCallback() {
        };
        function UpdateBatchGoods(obj) {
            $.closeParentWindow({
                status: true,
                winId: "newWin2",
                Data: obj.Data
            });
        };
        $(function () {
            var editor = CKEDITOR.replace('EContentEditor');
            $("#EditClose").click(function () {
                $.closeParentWindow({
                    status: false,
                    winId: "newWin2"
                });
            });
            $("#percent").keyup(function () {
                CheckInputFloat2($(this));
            });
            $("#minusNum").click(function () {
                var pr = ($.trim($("#percent").val()) == "") ? 0 : parseFloat($.trim($("#percent").val()));
                if (pr - 1 < -1000) {
                    $("#percent").val("-1000.00");
                    $(this).attr("disable", true);
                }
                else
                $("#percent").val((pr - 1).toFixed(2));

            });
            $("#addNum").click(function () {
                var pr = ($.trim($("#percent").val()) == "") ? 0 : parseFloat($.trim($("#percent").val()));
                if (pr + 1 >1000) {
                    $("#percent").val("1000.00");
                    $(this).attr("disable", true);
                }
                else $("#percent").val((pr + 1).toFixed(2));
            });
            $("#percent").blur(function () {
                if($.trim($(this).val()) == "") $(this).val("0.00");
            });
            $("#btnSave").click(function () {
               
                $("#EContentEditor").val(editor.getData());
                var aContent = $.trim($("#EContentEditor").val());

                $("#formList").submit();
            });
        });
    </script>
}