.single i {
	margin: 0 auto;
	cursor: pointer;
	display: block;
	position: relative;
}
.single i:after {
	content: '';
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	box-shadow: 0 0 1px 2px rgba(24, 180, 237, 0.8);
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;
	z-index: 3;
	opacity: 0;
	-webkit-animation: halo 1s 0.5s infinite ease-out;
	-moz-animation: halo 1s 0.5s infinite ease-out;
	animation: halo 1s 0.5s infinite ease-out;
}
@-webkit-keyframes halo {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
}
@-moz-keyframes halo {
	0% {
		opacity: 0;
		-moz-transform: scale(0.1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-moz-transform: scale(1.2);
	}
}
@-ms-keyframes halo {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes halo {
	0% {
		opacity: 0;
		-o-transform: scale(0.1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-o-transform: scale(1.2);
	}
}
@keyframes halo {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}