<div id="divCtype" class="btnGrunp">
    <a data-type="0" style=" cursor:pointer;"><p class="btnActive">全部</p></a>
    @*<a data-type="1" style=" cursor:pointer;"><p>文字</p></a>*@
    <a data-type="2" style=" cursor:pointer;"><p>有图</p></a>
    <a data-type="3" style=" cursor:pointer;"><p>语音</p></a>
</div>
@* 因为要保留切换过的数据 要分开保存切换数据 *@
@* 应该有3个查看更多 这样可以互不干扰 *@
<div id="feedbackList">
    <div id="feedbackListContent"></div>
    <div class="checkMore" id="FeedbackMore" data-index="1" style="cursor:pointer;">查看更多评价</div>
</div>
<div id="feedbackListPicture" style="display:none;">
    <div id="feedbackListPictureContent"></div>
    <div class="checkMore" id="FeedbackMorePicture" data-index="1" style="cursor:pointer;">查看更多评价</div>
</div>
<div id="feedbackListRecording" style="display:none;">
    <div id="feedbackListRecordingContent"></div>
    <div class="checkMore" id="FeedbackMoreRecording" data-index="1" style="cursor:pointer;">查看更多评价</div>
</div>
