<a class="menutoggle"><i class="fa fa-bars"></i></a>
<div class="header-right">
    <ul class="headermenu">
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img src="../../images/photos/loggeduser.png" alt="" />
                    @*@((Session["user"] as Model.UserPC).UserName)*@
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    @*@{
                        string loginoutUrl = "/Login/" + (Session["user"] as Model.UserPC).UserBasic.EnterpriseID+"/LoginOff";
                    }*@
                    <li><a href="/AgentState/AgentInfo/Index"><i class="glyphicon glyphicon-user"></i>个人基本资料</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-cog"></i>修改密码</a></li>
                    <li><a href="/AgentState/AgentLogin/Index"><i class="glyphicon glyphicon-log-out"></i>退出</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>

            </div>
            <input type="hidden" id="hidKey" />
            <div class="modal-body">
                <label>原始密码：</label>
                <input type="password" id="oldpwd" class="form-control" placeholder="请输入原始密码" />

                <p></p>
                <label>新密码：</label>
                <input type="password" id="newpwd" class="form-control" placeholder="请输入新密码" />

                <p></p>
                <label>确认新密码：</label>
                <input type="password" id="pwd" class="form-control" placeholder="请输入确认新密码" />

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ClickByAjax()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>