@{
    ViewBag.Title = "渠道批量导入";
}
@section styles{
    <link href="~/Css/settings.css" rel="stylesheet" />
}
<form action="/LoadIn/DownLoadFile" id="downloaderror"></form>
<div class=" panel loadBox">
    <div class="inne">
        <a class="btn btn-primary btn-sm" href="~/Files/ExcelTemplate/【导入模板】新增渠道.xls">下载数据模板</a>
    </div>
    <div class="innr">
        <input type="file" id="file" name="file" value="开始导入" />
        <input class="btn btn-primary btn-sm" type="button" id="export" value="开始导入" />
    </div>
</div>
@section scripts{
    @* 导入js *@
    <script type="text/javascript" src="~/Scripts/imageUpload/ajaxfileupload.js"></script>
    @* 导入页面js *@
    <script src="@Url.Content("~/Scripts/LoadIn/Index.js")" type="text/javascript"></script>
}
