/** 
 * 描述：重置页面元素并基础样式
 * 作用范围： 全局
 */

html,body {
	font: 14px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
	color:#404040;
}
body,p,pre,blockquote,
h1,h2,h3,h4,h5,h6,			
dl,dt,dd,ul,ol,li,			
form,select,input,textarea,button,		
table,caption,tr,th,td {
	margin:0;
	padding:0;
}
ol,ul {
	list-style:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	border:0 none;
}
a {
	color: #2d7200;
	text-decoration:none;
}
a:hover{
	color: #4bbd00;
	border-bottom: 1px solid;
}
input,button,textarea,select,option {
	font-family:inherit;
	font-size:100%;	
	outline: 0;
}
textarea {
	overflow: auto;
	resize: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* 布局样式 */
.cf,.nav,.container-span {
	*zoom: 1;
}
.cf:before, .cf:after,
.nav:before, .nav:after,
.container-span:before,
.container-span:after {
	display: table;
	content: "";
}
.cf:after,.nav:after,
.container-span:after {
	clear: both;
}
.fl{
	float: left!important;
}
.fr{
	float: right!important;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.hidden {
	display: none;
}
.block {
	display: block!important;
}
.fixed{
    position: fixed!important;
}
.container-span [class^="span"] {
	margin: 0 1% 20px;
}
.container-span .span1,
.container-span .span2,
.container-span .span3,
.container-span .span4 {
    float: left;
}
.container-span .span1 {
    width: 23%;
}
.container-span .span2 {
    width: 48%;
}
.container-span .span4 {
    width: 98%;
}

/* 排版样式 */
.text-center{
	text-align: center!important;
}

.text-right{
	text-align: right!important;
}

.text-left{
	text-align: left!important;
}

/* 导航列表 */
/*.nav li {
	float: left;
}*/
.nav li a,
.nav li a:hover,
.nav-list li a,
.nav-list li a:hover {
	display: block;
	text-decoration: none;
	outline: none;
	border-bottom: 0 none;
}
.clearfix{zoom:1;}

.clearfix:after{width:0; height:0;display:block;content:'';clear:both;overflow:hidden;}

/*搜索模块*/
.search-form{ margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px dashed #ebebeb;}
.search-form input,.search-form  select, .search-form  select option{ margin-right: 12px;}
.search-form input{ height: 30px; width:120px; border: 1px #ebebeb solid;}
.search-form input.sleft{ text-indent: 12px;}
.search-form select{height: 30px; width:120px; border: 1px #ebebeb solid; }
.search-form input.txt-word{ width: 200px;}
.cf .order{ display:block;  float: right;  width: 16px; height: 16px; background: url(../img/asc.ico) no-repeat center;}
.cf .desc{background: url(../img/desc.ico) no-repeat center; }

/*page*/
.pfooter{ margin-top: 12px;}
.pfooter .pageL{ float: left;}
.pfooter .pageR{ float: right;}

/*知识库管理页面*/

.manager-tb td input[type='text']{ border: none; background: none; border: 1px solid #ebebeb; width: 120px; height: 24px; font:normal 12px/24px '' ; text-indent: 12px;}
.manager-tb tr.one-root a.one-bg{ display: block; float: left; width: 24px; height: 24px; background: url(../img/closed.ico) no-repeat center;  margin-right: 5px; }
.manager-tb tr.two-root a.two-bg{display: block; float: left; width: 24px; height: 24px; background: url(../img/closed.ico) no-repeat center;  margin-right: 5px;  margin-left: 24px;}
.manager-tb tr.three-root a.three-bg{display: block; float: left; width: 24px; height: 24px; background:url(../img/list.ico) no-repeat center;  margin-right: 5px;  margin-left: 50px;}

/*弹出层*/
.mydiv{ position:absolute; z-index:999 ; width:610px; background: #fff; height:380px; border:1px solid #bcbcbc; border-radius:5px; left:50%; top:50%; margin-left:-306px; margin-top:-191px; }
.mydiv .popTitle{ height:46px;  background:#d7d7d7; border-bottom:1px solid #e4e4e4; }
.mydiv .popTitle h3{ margin:0px; padding:0px; text-indent:24px; display:block; float:left; height:46px; font:bold 12px/46px '' ;}
.mydiv .popTitle a{  display:block; float:right; height:46px; font:normal 12px/46px '' ; text-shadow:#e1e1e1 0 1px 0; margin-right:12px; text-decoration:none; color:#f4f4f4}
.mydiv .popContent{ height:295px; }
ul.popLists { margin:40px 80px;}
ul.popLists li { padding-bottom:16px;}
.mydiv .popContent ul{ margin:0px; padding:0px; list-style:none}
.mydiv .popContent ul li{ padding-bottom:16px; }
.mydiv .popContent ul li input,.mydiv .popContent ul li select{ border:1px solid #bcbcbc; height:32px; width:252px; text-indent: 12px;}
.mydiv .popContent ul li select{ width: 152px;}
.mydiv .popContent ul li label{ }
ul.popLists li input.ok,.update,.return{ margin-left:10px; width: 86px; height: 32px; background:#4de972; border: 1px solid #30b34f; color: #fff;}
ul.popLists li input.cancel,.selects .selected .btns button.cancel{ margin-left:10px; width: 86px; height: 32px;color: #fff; background:#fe2727; border: 1px solid #b51a1a;}

/*类目选择对话框*/
 .controls{ }
 .selects { padding: 6px;  position:absolute; width: 512px; z-index: 999999; background: #fff; border:1px solid #bcbcbc; border-radius:5px; max-height:600px}
 .selects .selecting{ padding: 0px; margin: 0px; width: 220px; float: left;}
.selects .selecting .lei-search{ width: 220px; height: 24px; margin-bottom: 10px; background:url(../img/images/search.gif) no-repeat 10px center; border: 1px solid #bcbcbc; border-radius: 5px;}
.selects .selecting input{ height: 24px; font: normal 12px/24px ''; background: none; border:none; width: 190px; text-indent: 10px;}
.selects .selecting input.lei-sub{ width: 22px; text-indent: -9999999px; cursor: pointer;}
.selects .selecting ul.selecting-list,.selects .selected ul.selected-list { border:1px solid #f2f2f2; }
.selects .selecting ul li{}
.selects .selecting ul li div {border-bottom: 1px solid #f2f2f2; text-indent:12px;}
.selects .selecting ul li i{ display:block; float:left; width:16px; height:16px; vertical-align:middle; margin-top: 9px; margin-right:12px; }
.selects .selecting ul li a{ display: block; height: 34px; float:left;  font: normal 12px/34px ''; }

ul.selecting-list-c li div{ padding-left: 24px;}
ul.selecting-list-cc li div{ padding-left: 36px;}
.selects .selected{ width: 220px; float:right;}
.selects .selected h3.seled{ font: bold 14px/36px '';}
.selects .selected ul.selected-list{ }
.selects .selected ul.selected-list li a { display:block; height:34px;font: normal 12px/34px ''; border-bottom:1px solid #f2f2f2; text-indent:12px;  }
.selects .selected ul.selected-list li a i{  display: block; float:right;  color: #63626d; font:normal 12px/34px  "微软雅黑"; margin-right: 10px;}
.selects .selected .btns{ height: 32px; margin-top: 10px;}
.detail-tb td{ max-width:120px; word-break:break-all; white-space:nowrap }
.detail-tb td.td-one { width:120px; }

.exBtnOk {
margin-left: 10px;
width: 86px;
height: 32px;
background: #4de972;
border: 1px solid #30b34f;
color: #fff;
cursor:pointer;
}
.exBtnCancle {
margin-left: 10px;
width: 86px;
height: 32px;
background: red;
border: 1px solid #30b34f;
color: #fff;
cursor:pointer;
}

.open {background: url(../img/list.ico) no-repeat center;}


.divMask{
    background:#000;
    -moz-opacity:0.6;
    opacity:0.6;
    filter:alpha(opacity=20);
    z-index:100;
    border:none;
    display:none;
    position:absolute;
    top:0;
    left:0;
}



/*add*/
.form-item {
    margin-bottom:16px;

}
#imgSrc {
    display:block;
    background:#fff;
    border:1px solid #e7e7e7;
    padding:2px;
    width:300px;
}
#file {
     margin-bottom:10px;
}




.imeDisabled{ime-mode:disabled}