body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.error {
    color: red;
    margin-left: 5px;
}

input.error {
    border: 1px solid red;
    box-shadow: 1px 1px 1px red;
}

.tips {
    top: 0px;
    /*height: 30px;*/
    z-index: 10000;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    color: rgb(10, 139, 100);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
    font-size: 13px;
    box-shadow: rgb(136, 136, 136) 0px 0px 5px;
    display: block;
    background: rgb(255, 255, 255);
    padding-bottom: 5px;
    position: fixed;
}

    .tips.error-tips {
        color: red;
    }

.video-control {
    width: 20px;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    background-size: cover;
}

.play {
    background-image: url('/Plugin/video/images/play.png');
}

.pause {
    background-image: url(/Plugin/video/images/pause.png);
}

.busy {
    position: fixed;
    z-index: 1000000;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    background: #838E8D;
}
