@model Model.WeixinMP
@{
    @* 模式窗口模版 *@
    Layout = "~/Views/Shared/_ChildLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Css/publicId.css" />
    @* 引用分页样式 *@
    <link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
    @* 模式窗口样式 *@
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<p>请选择要分配的门店代理商：</p>
<div class="box2">
    @Html.Hidden("WeixinMPID", ViewBag.ID as string)
    <ul class="list" id="BindAgentContent"></ul>
    <div class="bottom">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            @* 分页标签 *@
            <span class="pager"></span>
        </div>
    </div>
</div>
@section scripts{
    @* 引用分页插件 *@
    <script src="~/Plugin/pager/jquery-pager.js"></script>
    @* 引用页面js *@
    <script src="~/Scripts/WeixinMP/BindAgent.js"></script>
}
