@model Model.WeixinMP
@{
    Layout = "~/Views/Shared/_ChildLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Css/publicId.css" />
}
<div class="">
    <div class="tittle">添加公众号前，请先确定你的公众号是否已认证且进行了<a>   菜单自定义设置。</a></div>
    <ul class="nav nav-tabs nav-justified">
        <li><a data-toggle="tab" id="linkCreateOfFirst"><strong>方式一：提供账号和密码</strong></a></li>
        <li class="active"><a data-toggle="tab"><strong>方式二：提供APPID和AppSecret</strong></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane  active">
            <div class="main">
                <form action="/WeixinMP/CreateOfSecond" method="post" data-ajax="true"
                      data-callback="CreateSuccess" id="CreateOfSecond">
                    <div class="row">
                        <span>公众账号名称：</span>
                        @Html.TextBoxFor(x => x.MPCName)
                    </div>
                    <div class="row">
                        <span>APPID：</span>
                        @Html.TextBoxFor(x => x.AppID)
                        <span class="quesiton">?</span>
                    </div>
                    <div class="row">
                        <span>AppSecret：</span>
                        @Html.TextBoxFor(x => x.AppSecret)
                        <span class="quesiton">?</span>
                    </div>
                    <div class="btnGroup">
                        <button type="submit" id="CreateSave" class="btn btn-primary HrefFrame" data-title="">提交</button>
                        <a href="javascript:void(0)" id="CreateCancel" class="btn btn-default">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @* 引用页面js *@
    <script src="~/Scripts/WeixinMP/CreateOfSecond.js"></script>
    @* 引用判断字符长度的方法 因为模式窗口是单独页面 只能在这里引用js 才会生效 *@
    <script src="~/Scripts/Common/Common.js"></script>
}
