@model Model.WeixinMP
@{
    Layout = "~/Views/Shared/_ChildLayout.cshtml";
    //需要来判断是否存在 不存在就直接显示找不到数据
    if (Model.ID == 0)
    {
        <div>找不到微信公众号信息</div>
        return;
    }
}
@section styles{
    <link rel="stylesheet" href="~/Css/publicId.css" />
    <style>
        .mainBox {
            width: 60%;
            margin: 0 auto;
        }

        .list-text {
            padding: 10px;
        }

        h6 {
            padding: 10px;
            color: red;
        }

        .btnGroup a:nth-child(1) {
            margin-right: 10px;
        }
    </style>
}
<div class="">
    <div class="tittle">修改公众号前，请先确定你的公众号是否已认证且进行了<a>   菜单自定义设置。</a></div>
    <div class="tab-content">
        <div class="tab-pane  active">
            <div class="mainBox">
                <p class="list-text">
                    <span>URL：</span>
                    <span>@(ViewBag.MPurl)@(Model.ID)</span>
                </p>
                <p class="list-text">
                    <span>Token：</span>
                    <span>@(Model.Token)</span>
                </p>
                <p class="list-text">
                    <span>EncodingAESKey：</span>
                    <span>@(Model.EncodingAESKey)</span>
                </p>
                <h6>请登录微信开放平台(http://mp.weixin.qq.com)，修改服务器配置依次填入上面三个值</h6>
                <div class="btnGroup">
                    <a name="finished" class="btn btn-primary">完成</a>
                    <a name="finished" class="btn btn-default">关闭</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @* 引用页面js *@
    <script src="~/Scripts/WeixinMP/EditOfSecondSuccess.js"></script>
}
