@using System.Collections
@model IList<Hashtable>
@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table table-striped mb30">
        <thead>
            <tr>
                <th>市/区</th>
                <th>直营店 </th>
                <th>门店</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item["City"]</td>
                        <td>@item["EnterpriseShopCount"]</td>
                        <td>@item["AgentShopCount"]</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

