/** 
 * 描述：重置页面元素并基础样式
 * 作用范围： 全局
 */

body {
	background: #f4f4f4;
	min-height: 100%;
	
}

body,
p,
pre,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
form,
select,
input,
textarea,
button,
table,
caption,
tr,
th,
td {
	margin: 0;
	padding: 0;
}
ol,
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	border: 0 none;
}
a {
	color: #2d7200;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #4bbd00;
	border-bottom: 1px solid;
}
input,
button,
textarea,
select,
option {
	font-family: inherit;
	font-size: 100%;
	outline: 0;
}
textarea {
	overflow: auto;
	resize: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	width: 0;
	height: 0;
	display: block;
	content: '';
	clear: both;
	overflow: hidden;
}
.container {
	width: 960px;
	height: 500px;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -480px;
	border: 1px solid #E6E6E6;
	border-radius: 10px;
	background: #fff;
}
.containerBox{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}
.container .loginBox{
	position: relative;
}
.loginBox .content{
	width: 100%;
	position: absolute;
	background-color: white;
	left: 0;
	-webkit-transition: left 2s linear;
	-moz-transition: left 2s linear;
	-ms-transition: left 2s linear;
	-o-transition: left 2s linear;
	transition: left 2s linear;
}
.container:before,
.container:after {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	/*add box-shadow*/
	
	-webkit-box-shadow: 0 20px 30px rgba(125, 125, 125, 0.6);
	-moz-box-shadow: 0 20px 30px rgba(125, 125, 125, 0.6);
	box-shadow: 0 20px 30px rgba(125, 125, 125, 0.6);
	/*add css3 transform*/
	
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.container:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}
.container .left {
	width: 50%;
	height: 436px;
	background: url(../Images/left-bg.jpg) no-repeat right center;
	float: left;
}
.left > .leftMain {
	width: 420px;
	height: 360px;
	margin: 44px 50px;
	background: url(../Images/loginLogo.jpg) no-repeat center;
}
.container .right {
	width: 50%;
	height: 436px;
	float: right;
}
.container .right h2 {
	height: 58px;
	width: 100%;
	background: url(../Images/title-bg.jpg) no-repeat left center;
	margin-top: 58px;
	font: normal 26px/58px "微软雅黑";
	color:#696969 ;
	text-indent: 25px;
}
.right form {
	margin-top: 48px;
	margin-left: 25px;
}
.right form p {margin-bottom: 28px;} 
.right form p:nth-child(2){ margin-bottom: 10px;}
.right p label {
	display: inline-block;
	width: 20%;
	height: 46px;
	text-align: left;
	vertical-align: middle;
	font: normal 20px/46px "微软雅黑";
	color: #333;
}
.right p input {
	width: 255px;
	height: 46px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	
	box-shadow: inset 0 0 10px rgba(245, 245, 245, 0.8);
	text-indent: 4px;
}
.right div:nth-child(3) {
	padding-left: 22%;
    font: normal 14px/2 "微软雅黑";
	margin-bottom: 10px;
	color: #5b6e7c;
}
 
.right .btn  button {
	margin-left: 22%;
	margin-right: 20px;
	display: inline-block;
	border: none;
	border-radius: 2px;
	background: #2496d2;
	width: 120px;
	height: 40px;
	color: #fff;
	text-align: center;
	vertical-align: center;
	font: normal 18px/40px "微软雅黑";
	cursor: pointer;
}

.right p:nth-child(4) a {
	display: inline-block;
	color: #3174a8;
	margin-left: 10px;
	font-size: 20px;
	cursor: pointer;
}
footer {
	position: absolute;
	bottom: 0px;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	width: 100%;
	height: 61px;
	background: -moz-linear-gradient(bottom, #ebebeb, #fdfdfd);
	background: -webkit-linear-gradient(bottom, #ebebeb, #fdfdfd);
	background: -webkit-gradient(linear, left bottom, left top, from(#ebebeb), to(#fdfdfd));
	background: -o-linear-gradient(bottom, #ebebeb, #fdfdfd);
}
footer p {
	font: normal 16px/61px '';
	text-align: center;
	color: #DADADA;
}
footer p span {
	font-family: "微软雅黑";
	display: inline-block;
	margin-right: 12px;
}
/*404*/

.validateBox{
	width:100%;
	height: 436px;
	margin: 0 auto; 
	position: absolute;
	right: -160%;
	background: white;
	-webkit-transition: right 2s linear;
	-moz-transition: right 2s linear;
	-ms-transition: right 2s linear;
	-o-transition: right 2s linear;
	transition: right 2s linear;
}
.validateBox .tittle{
	width: 200px;
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -100px;
	font-family: "微软雅黑";
	font-size: 40px;
	color: white;
}
.validateBox .login{
	width: 100%;
	height: 100%;
	position: relative;
	background: white;
}
.login form{
	position: absolute;
	width: 330px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	padding-top: 10px;
}
.login form li{
	margin-top: 20px;
}
.validateBox .login .name{
	width: 205px;
	float: left;
	border: 0;
	line-height: 34px;
	padding-left: 5px;
}
.row1{
	width: 300px;
	border: 1px solid #ccc; 
	border-radius: 4px;
	overflow: hidden;
}
.row1 .idCode{
	display: block;
	float: left;
	width: 90px;
	border: 0;
	text-align: center;
	line-height: 36px;
	background:#229cea;
	color: white;
}

.row2{
	overflow: hidden;
}
.row2 input{
	width: 100px;
	border: 0;
	border-radius: 4px;
	border: 1px solid #ccc;
	line-height: 34px;
	float: left;
	padding-left: 5px;
}
.row2 img{
	float: left;
	margin: 0 10px;
	margin-top: 2px;
}
.row2 a{
	float: left;
	line-height: 35px;
	cursor: pointer;
}
.row3 input{
	width: 295px;
	border: 0;
	border-radius: 4px;
	border: 1px solid #ccc;
	line-height: 34px;
	padding-left: 5px;
}
.login .row4{
	position: relative;
}
.login .row4 input{
	width: 295px;
	line-height: 34px; 
	border: none;  
	border: 1px solid #ccc; 
	border-radius: 4px;
	background:url(../Images/pwd.png) no-repeat 275px center;
	padding-left: 5px;
}
.login .row5 input{
	width: 295px;
	line-height: 34px; 
	border: none;  
	border: 1px solid #ccc; 
	border-radius: 4px;
	padding-left: 5px;
}
.login .row4 .tips{
	position: absolute;
	right: -230px;
	top: 5px;
	display: none;
}
.login .row4 .tip{
	position: relative;
	width: 240px;
	height: 20px;
	border: 1px solid #ff7575;
	background: #ffdfdf;
	color: #990000;
	border-radius: 4px;
	line-height: 18px;
	padding-left: 10px;
	box-shadow: 0 0 5px rgba(255,117,117,.5);
}
.login .row6{
	position: relative;
}
.login .row6 input{
	position: absolute;
	border: none;
	border-radius: 2px;
	background: #2496d2;
	width: 120px;
	height: 40px;
	color: #fff;
	text-align: center;
	vertical-align: center;
	font: normal 18px/40px "微软雅黑";
	cursor: pointer;
	left: 0;
	right: 0;
	margin: auto;
}
.login .user-row input{
    width: 295px;
	line-height: 34px; 
	border: none;  
	border: 1px solid #ccc; 
	border-radius: 4px;
	padding-left: 5px;
	background: url(../Images/user.png) no-repeat 275px center;
}
.tip em,.tip span{
	font-style: normal;
	font-size: 12px;
	position: absolute;
	left: -6px;
	top: 2px;
	color: #ff7575;
}
.tip span{
	left: -4px;
	color:#ffdfdf ;
}
