.filemanager-options li a.white {
	color: #fff;
}
.clearMar {
	margin: 0px;
	padding: 0px;
}
.dropdown-menu li {
	padding: none;
	border-right: none;
}
.dropdown-menu {
	padding: none;
}
.tr-Shelter td,
.tr-Shelter td a {
	color: #ccc;
}
.tr-Shelter td .noShelter {
	color: #428bca;
}
.nav-bracket > li.active > a {
	background-color: #00b7ee;
	color: #fff;
}
ul.dropdown-menu-usermenu > li:hover >a:hover {
	background: #00b7ee;
}
.O2OPanel {
	position: absolute;
	top: 200px;
	z-index: 1000;
	display: none;
}
.O2OPanel .panel {
	width: 1000px;
}
.O2OPanel .panel-body {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}
.leftpanel ul.children a:hover,
.leftpanel ul.children a:active,
.leftpanel ul.children a:focus,
.leftpanel .nav-active li.active a {
	color: #00b7ee;
}
.form-control {
	margin-top: 0px;
}
.tab-content {
	background: #FFFFFF;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	background: #fff;
}
.nav-bracket > li.active > a:hover {
	background-color: #00b7ee;
	color: #fff;
}
.input-sm0 {
	height: 34px;
	float: left;
	padding: 0px;
}
.filemanager-options li div.select {
	float: right;
	margin-left: 10px;
}
select.ver-select {
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	height: auto;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 13px;
}
select.select-sm {
	padding: 5px;
}
img.img-show {
	width: 112px;
	height: 112px;
	border: 1px solid #ccc;
	padding: 2px;
	margin-top: 10px;
}
input.form-control01 {
	border-radius: 3px;
	padding: 10px;
	height: auto;
	box-shadow: none;
	font-size: 13px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	width: 112px;
}
.ck,
.dl-s,
.provide {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	float: left;
}
.ck div.ckbox {
	margin: 40px 10px;
}
.dl-s dt,
.dl-s dd {
	display: inline-block;
	float: left;
	font: normal 12px/30px '';
	margin-right: 10px;
}
.dl-s dt img {
	border: 1px solid #ccc;
	padding: 2px;
}
.dl-s dd h3 {
	font-size: 14px;
}
.dl-s dd b {
	color: red;
	font: bold 14px/32px '';
}
.provide {
	margin: 20px 10px;
	float: right;
}
.logo-img {
	display: inline-block;
	padding: 2px;
	border: 1px solid #ccc;
	margin-top: 10px;
}
ul.ul-total {
	list-style: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border-left: 1px solid #ccc;
	margin-bottom: 25px;
}
ul.ul-total li {
	float: left;
	padding: 7px 30px;
	border: 1px solid #ccc;
	border-left: none;
}
ul.ul-total li a{
	cursor: pointer;
}
ul.ul-total li:hover {
	background: #F2F2F2;
}
.panel address div.progress {
	width: 40%;
	display: inline-block;
	margin-bottom: 0px;
}
.del-list {
	padding: 0px;
}
.del-list a {
	display: inline-block;
	width: 200px;
	padding: 6px 0px;
	border: 1px solid #357ebd;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}
.del-list a:hover {
	background: #428bca;
	color: #fff;
}
dl.goods-info {
	margin: 0px;
	padding: 0px;
}
dl.goods-info dt {
	float: left;
	position: relative;
	margin-right: 12px;
	margin-top: 12px;
}
dl.goods-info dt img,
dl.goods-info span {
	display: block;
}
dl.goods-info dt span {
	position: absolute;
	bottom: 0px;
	font: normal 12px/2 '';
	width: 54px;
	border: 1px solid #ccc;
	background: #fff;
	opacity: 0.5;
	height: 24px;
	text-align: center;
	color: red;
}
dl.goods-info dd {
	float: left;
	font: normal 12px/1.5 '';
}
dl.goods-info dd h5 a {
	font: normal 12px/1.5 '';
}
dl.goods-info dd p strong {
	font: normal 12px/24px '';
}
dl.goods-info dd p span {
	display: inline-block;
}
td.table-aSpace a {
	display: inline-block;
}
ul.menu-list li {
	display: inline-block;
	float: left;
	padding: 5px 12px;
	border-right: 1px solid #eee;
}
ul.menu-list li a {
	font: normal 12px/2 "";
	color: #545454
}
.talks-list {
	font: normal 14px/1.8 "微软雅黑";
}
.talks-list .talk {
	padding: 15px 0px;
}
.talks-list .talk span.h4-l {
	display: inline-block;
	float: left;
	font: normal 16px/2 "微软雅黑";
}
.talks-list .talk span.h4-r {
	display: inline-block;
	float: right;
}
.talks-list .talk .talks-info {
	font: normal 12px/1.5 '';
	padding: 6px 0px;
}
.talks-info span {
	display: inline-table;
	padding: 5px 30px;
}
.position-t {
	position: relative;
}
.position-c {
	position: absolute;
	display: none;
	background: #fff;
	padding: 0px;
	margin: 0px;
	border: 1px solid #eee;
	border-bottom: 1px solid #eee;
	top: 40px;
	left: 0;
	z-index: 99;
}
.position-c li a {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 5px 20px;
	font: normal 12px/2 '';
}
.floatLeft {
	display: inline-table;
}
.talks-list article {
	background: #f2f2f2;
	padding: 15px 5px;
}
.reply-list .media,
.reply-list .media-body {
	overflow: visible;
	zoom: normal;
	font: normal 14px/1.5 "微软雅黑";
}
.media .talks-info {
	font: normal 12px/1.5 '';
}
.text-font {
	font-family: "微软雅黑";
}
.media article {
	font: normal 14px/2 "微软雅黑";
}
.img {
	display: block;
	border: 1px solid #eee;
	padding: 2px;
	border-radius: 3px;
}
/*多选*/

.checkbox-list {
	position: absolute;
	background: #fff;
	font: normal 14px/2 '';
	padding: 10px 20px;
	border: 1px solid #ccc;
	z-index: 99999;
}
.checkbox-list li {
	list-style: none;
}
.select-list {
	display: block;
	margin-top: 12px;
}
.select-list span.tag {
	display: inline-block;
	margin-right: 12px;
	float: left;
	padding: 5px 10px;
	font: normal 14px/1.5 '';
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	border-radius: 5px;
    margin-bottom:5px;
}
.select-list span {} .select-list a {
	color: #fff;
	opacity: 0.5;
	cursor: pointer;
}
/*类目选择*/

.category {
	position: absolute;
	display: none;
	z-index: 99999;
	margin-top: 10px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #eee;
	padding: 10px;
	width: 550px;
	border-radius: 5px;
	background: #fff;
}
.category-left {
	float: left;
}

.category-left .search {
	border: 1px solid #EEEEEE;
	border-radius: 5px;
}
.category-left .search input {
	border: none;
	background: none;
	font: normal 14px/2 '';
	height: 28px;
}
.category-left .selecting {
	padding: 0px;
	padding-left: 16px;
	width: 245px;
	margin: 0px;
	border: 1px solid #eee;
	margin-top: 10px;
	border-radius: 5px;
}
.category-left .selecting li {
	list-style: none;
}
.category-left .selecting li a {
	padding: 0px;
	display: block;
	font: normal 14px/2 '';
	height: 28px;
}
.category-left .selecting li a i {
	display: inline-block;
	margin-right: 20px;
}
.category-left .selecting ul {
	padding-left: 16px;
}
.category-right {
	float: right;
}
.category-right .selected {
	padding: 0px;
	margin: 0px;
	padding-left: 16px;
	width: 245px;
	list-style: none;
	border: 1px solid #eee;
	margin-top: 10px;
	border-radius: 5px;
}
.category-right .selected li {
	font: normal 14px/2 '';
	height: 28px;
}
.category-right .selected li span {
	display: inline-block;
	font: normal 14px/2 '';
	float: left;
}
.category-right .selected li a {
	display: inline-block;
	opacity: 0.5;
	padding: 0px;
	float: right;
	margin-right: 16px;
}
.media,
.tabl-head {
	font: normal 14px/2 '';
}
.tabl-body .media {
	margin: 0px;
	margin-left: 20px;
	padding: 0;
}
.media .media-body {
	padding: 12px 0px;
}
.media .media-body span,
.tabl-head span {
	display: inline-block;
}
.tabl-body > .media {
	padding-bottom: 10px;
	border-bottom: 1px solid #EAEAEA;
}
.media .media-body span input {
	width: 250px;
	display: inline-block;
	margin-left: 12px;
	box-shadow: none;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}
span.input-left {
	float: left;
}
span.input-left > span{
	display: inline-block;
}
span.edit-right {
	float: right;
	width: 20%;
}
/*公司详情*/

.company-img {
	display: block;
	margin: 12px;
}
.company-intro {
	margin-top: 10px;
	font: normal 12px/2 "微软雅黑";
}
.company-intro address {
	margin: 0px;
}
.company-intro ul {
	margin-top: 16px;
}
.company-intro .mute small {
	display: inline-block;
	margin-right: 100px;
}
.box {
	border-bottom: 1px solid #ddd;
	padding: 15px 0px;
}
.box .btn-sm {
	display: inline-block;
}
.ex-line span {
	display: inline-block;
	margin-right: 5%;
	font: normal 12px/2 '微软雅黑';
}
.ex-line .progress {
	width: 200px;
	margin-bottom: 0px;
}
.ex-line .progress .progress-bar {
	display: inline-block;
	text-align: center;
}
.marginRLeft {
	margin: 0px 15px;
}
p.Allcategory {
	margin: 0px;
	font: normal 12px/3 "微软雅黑";
	height: 36px;
	text-indent: 16px;
}
/*商品管理*/

.goods-list {
	margin-bottom: 10px;
}
.goods-list .media {
	border-bottom: 1px solid #DDDDDD;
}
.goods-list .media,
.goods-list .media > .media-body {
	overflow: hidden;
	zoom: 1;
}
.goods-list .media .media-body {
	font: normal 14px/1.5 "微软雅黑";
	padding: 0px;
}
.goods-list .media .media-body p {
	color: #CCCCCC;
}
.goods-list .media .media-body p small {
	display: inline-block;
	margin-right: 24%;
}
.goods-list .media .media-body p small:last-child {
	margin: 0px;
}
/*订单管理*/

table.orderTable thead th:nth-of-type(odd) {
	width: 20%;
}
table.orderTable thead th:nth-of-type(even) {
	width: 15%;
}
/*订单详情*/

.orders {
	width: 92%;
}
.orders > span {
	display: inline-block;
	float: right;
	font: normal 14px/1.1 '';
}
.orders > span:last-child {
	clear: both;
	float: right;
}
/* 评价管理*/

.tbcomment tr th:nth-child(1) {
	width: 10%;
}
.tbcomment tr th:nth-child(2) {
	width: 20%;
}
.tbcomment tr th:nth-child(3) {
	width: 10%;
}
.tbcomment tr th:nth-child(4) {
	width: 30%;
}
.tbcomment tr th:nth-child(5) {
	width: 20%;
}
.tbcomment tr td:nth-child(4) a.video {
	display: block;
	clear: both;
	float: right;
	margin-top: 10px;
}
.tbcomment tr td:nth-child(4) img {
	display: inline-block;
	margin-right: 5px;
}
/*品牌管理*/

.tbbrand tr th:nth-child(1) {
	width: 10%;
}
.tbbrand tr th:nth-child(2) {
	width: 20%;
}
.tbbrand tr th:nth-child(3) {
	width: 20%;
}
.tbbrand tr th:nth-child(4) {
	width: 20%;
}
.tbbrand tr th:nth-child(5) {
	width: 10%;
}
.tbbrand tr th:nth-child(6) {
	width: 10%;
}
.tbbrand tr th:nth-child(2) {
	width: 20%;
}
.cate-list {
	margin-top: 10px;
}
.cate-list > span {
	display: inline-block;
	background: #f2f2f2;
	border: 1px solid #e4e4e4;
	border-radius: 15px;
	padding: 3px 10px;
	color: #333;
	margin-right: 6px;
	margin-bottom: 5px;
	font: normal 14px/16px '';
}
.cate-list > span > a {
	color: #333;
	display: inline-block;
	font-family: "微软雅黑";
	margin-left: 10px;
	text-shadow: 0 0 1px #333;
	cursor: pointer;
}
/*广告位管理*/
.tool-value span{display: inline-block; width: 33%;}
.tbshow tr th:nth-child(1){
	width: 15%;
}
.tbshow tr th:nth-child(2){
	width: 20%;
}
.tbshow tr th:nth-child(3){
	width: 20%;
}
.tbshow tr th:nth-child(4){
	width: 10%;
}
.tbshow tr th:nth-child(5){
	width: 10%;
}
.tbshow tr th:nth-child(6){
	width: 10%;
}
.tbshow tr th:nth-child(7){
	width: 10%;
}
.tip0{ 
	display: inline-block;
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 3px 5px;
}
.tbSys tr th:nth-child(1){
	width: 15%;
}
.tbSys tr th:nth-child(2){
	width: 15%;
}
.tbSys tr th:nth-child(3){
	width: 20%;
}
.tbSys tr th:nth-child(4){
	width: 20%;
}
.tbSys tr th:nth-child(5){
	width: 10%;
}
.tbSys tr th:nth-child(1){
	width: 15%;
}
.tableCode tr th{ width: 10%;}
.tableCode tr th:nth-child(3){
	width: 20%;
}
.tableCode tr th:nth-child(4){
	width: 30%;
}
/*sysRole*/
.tbRole tr th:nth-child(1){ 
	width: 50%;
}
.tbRole tr th:nth-child(2){ 
	width: 50%;
}
/*sysPower*/
.theady > .th{
	display: inline-table;
	width: 49%;	
	font: bold 14px/2 "微软雅黑";
	padding-bottom: 10px;
}
.tbody > div { 
	border: 1px solid #ddd; 
	margin-bottom: 10px;
}
.tbody > div > span{ 
	display: inline-table; 
	width: 16%;  
	padding:10px 0px 3px ;
}
.tbody > div > span:nth-child(1){ 
	background: #f7f7f7; 
	padding-left:5px ;
}
.log-s{
	float: right;
}
.log-s input { padding: 6px 10px;}
.days{
	font: normal 14px/34px "微软雅黑";
}
.days span{ 
	display: inline-block;
	padding: 0px 15px;
	background: #f2f2f2;
	cursor: pointer;
	
}
.days span:hover{ 
	background: #fff;
}
/*生成菜单*/
.resMenu > p{
	font: normal 14px/2 '';
	margin-bottom: 0;
}
.resMenu > p.failed{
	color: #ff9547;
	font: normal 14px/2 '';
	margin-bottom: 0;
}
.resMenu > p:nth-last-child(3){
	margin-bottom: 20px;
}
.resMenu > p > span { 
	display: inline-block; 
	margin-right: 20%;
} 
/*settingWeb*/
a.aDisable,a.aDisable:hover{
	color: #ddd;
	text-decoration: none;
}
/*goodsPublish.html*/
.photoTip{
	font: normal 14px/2.5 "微软雅黑";
	color: #c5c5c5; 
}
.photoTip > span {
	color: #ff783c;
}
.tablGroup th:nth-child(1),.tablGroup td:nth-child(1){
	width:10%;
}
.tablGroup th:nth-child(2),.tablGroup td:nth-child(2){
	width: 10%;
}
.tablGroup th:nth-child(3),.tablGroup td:nth-child(3){
	width: 30%;
}
.tablGroup th:nth-child(4),.tablGroup td:nth-child(4){
	width: 20%;
}

.tablShop th:nth-child(1),.tablShop td:nth-child(1){
	width:5%;
}
.tablShop th:nth-child(2),.tablShop td:nth-child(2){
	width:15%;
}
.tablShop th:nth-child(3),.tablShop td:nth-child(3){
	width:10%;
}
.tablShop th:nth-child(4),.tablShop td:nth-child(4){
	width:10%;
}
.tablShop th:nth-child(5),.tablShop td:nth-child(5){
	width:10%;
}
.tablShop th:nth-child(6),.tablShop td:nth-child(6){
	width:20%;
}
.tablShop th:nth-child(7),.tablShop td:nth-child(7){
	width:10%;
}

.tablAgent th:nth-child(1),.tablAgent td:nth-child(1){
	width:5% ;
}
.tablAgent th:nth-child(2),.tablAgent td:nth-child(2){
	width:15% ;
}
.tablAgent th:nth-child(3),.tablAgent td:nth-child(3){
	width:15% ;
}
.tablAgent th:nth-child(4),.tablAgent td:nth-child(4){
	width:10% ;
}
.tablAgent th:nth-child(5),.tablAgent td:nth-child(5){
	width:10% ;
}

.tablAgent th:nth-child(6),.tablAgent td:nth-child(6){
	width:10% ;
}
.tablAgent th:nth-child(7),.tablAgent td:nth-child(7){
	width:10% ;
}

.tablAgeS th:nth-child(1),.tablAgeS td:nth-child(1){
	width:10% ;
}
.tablAgeS th:nth-child(2),.tablAgeS td:nth-child(2){
	width:15% ;
}
.tablAgeS th:nth-child(3),.tablAgeS td:nth-child(3){
	width:10% ;
}
.tablAgeS th:nth-child(4),.tablAgeS td:nth-child(4){
	width:15% ;
}
.tablAgeS th:nth-child(5),.tablAgeS td:nth-child(5){
	width:10% ;
}
.tablAgeS th:nth-child(6),.tablAgeS td:nth-child(6){
	width:10% ;
}

.tablGoods th:nth-child(1),.tablGoods td:nth-child(1){
	width: 10%;
}
.tablGoods th:nth-child(2),.tablGoods td:nth-child(2){
	width: 10%;
}
.tablGoods th:nth-child(3),.tablGoods td:nth-child(3){
	width: 20%;
}
.tablGoods th:nth-child(4),.tablGoods td:nth-child(4){
	width: 20%;
}


.tablCode th:nth-child(1),.tablCode td:nth-child(1){
	width: 5%;
}
.tablCode th:nth-child(2),.tablCode td:nth-child(2){
	width: 8%;
}
.tablCode th:nth-child(3),.tablCode td:nth-child(3){
	width: 8%;
}

.tablCode th:nth-child(4),.tablCode td:nth-child(4){
	width: 5%;
}
.tablCode th:nth-child(5),.tablCode td:nth-child(5){
	width: 8%;
}
.tablCode th:nth-child(6),.tablCode td:nth-child(6){
	width: 9%;
}
.tablCode th:nth-child(7),.tablCode td:nth-child(7){
	width: 7%;
}

.tablCode th:nth-child(8),.tablCode td:nth-child(8){
	width: 8%;
}


.tablCode th:nth-child(9),.tablCode td:nth-child(9){
	width: 10%;
}


.tablCode th:nth-child(10),.tablCode td:nth-child(10){
	width: 8%;
}

.tablCode th:nth-child(11),.tablCode td:nth-child(11){
	width: 8%;
}
.tablCode th:nth-child(12),.tablCode td:nth-child(12){
	width: 10%;
}

.tablbrand th,.tablbrand td{
	width: 25%;
}
.tablpointer th:nth-child(1),.tablpointer td:nth-child(1){
	width: 10%;
}
.tablpointer th:nth-child(2),.tablpointer td:nth-child(2){
	width: 30%;
}

.tablpointer th:nth-child(3),.tablpointer td:nth-child(3){
	width: 30%;
}

.tablknowledge th:nth-child(1),.tablknowledge td:nth-child(1){
	width: 5%;
}
.tablknowledge th:nth-child(2),.tablknowledge td:nth-child(2){
	width: 5%;
}
.tablknowledge th:nth-child(3),.tablknowledge td:nth-child(3){
	width: 30%;
}
.tablknowledge th:nth-child(4),.tablknowledge td:nth-child(4){
	width: 20%;
}
.tablknowledge th:nth-child(5),.tablknowledge td:nth-child(5){
	width: 10%;
}
.tablknowledge th:nth-child(6),.tablknowledge td:nth-child(6){
	width: 10%;
}
.tablWeiLog th:nth-child(1),.tablWeiLog td:nth-child(1){
	width: 30%;
}
.tablWeiLog th:nth-child(2),.tablWeiLog td:nth-child(2){
	width: 20%;
}
.tablWeiLog th:nth-child(3),.tablWeiLog td:nth-child(3){
	width: 20%;
}
.gray,.gray:hover,.gray:active{
	color: #CCCCCC;
	text-decoration: none;
}
.tablAttr th,.tablAttr td{
	width: 25%;

}
.select-lists label{
	display: table-cell;
	float: left;
	width: 30%;
	vertical-align: middle;
	text-align: left;
}
.select-drop{
	position: absolute;
	z-index: 999999;
	width: 100%;
	background: #f7f7f7;
	color: #2e2e2e;
	border: 1px solid #999;
	max-height: 400px;
}
.select-drop ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding: 3px 0px;
	
	
}
.select-drop ul li a{
	display: block;
	font: normal 12px/30px "微软雅黑";
	height: 30px;
	color: #000;
	margin: 0 4px;
	text-decoration: none;
	border-radius: 2px;
}
.select-drop ul li a:hover{
	background: #666;
	color: #fff;
}
.panel-stat h1{
	font-size: 30px;
}
.panel-stat .stat img{
	width: 64px;
	height: 56px;
}
