/** 
 * 描述：重置页面元素并基础样式
 * 作用范围： 全局
 */

html,body {
	font: 12px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
	color:#404040;
	background:#f2f2f2;
}
body,p,pre,blockquote,
h1,h2,h3,h4,h5,h6,			
dl,dt,dd,ul,ol,li,			
form,select,input,textarea,button,		
table,caption,tr,th,td {
	margin:0;
	padding:0;
}
ol,ul {
	list-style:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	border:0 none;
}
a {
	color: #2d7200;
	text-decoration:none;
}
a:hover{
	color: #4bbd00;
	border-bottom: 1px solid;
}
input,button,textarea,select,option {
	font-family:inherit;
	font-size:100%;	
	outline: 0;
}
textarea {
	overflow: auto;
	resize: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.clearfix{zoom:1;}

.clearfix:after{width:0; height:0;display:block;content:'';clear:both;overflow:hidden;}
/*登陆页面*/
header{ width: 902px; margin: 0 auto;}
header .logo{ margin-top: 43px;}
header .logo img{ display: block; float: left;}
header .logo  span{ margin-top: 8px; height: 56px; font:normal 24px/56px '微软雅黑';  display:block; float: left; padding-left:14px; margin-left: 14px; border-left: 1px solid #e3e3e3;;}

.content{ width:882px; margin: 0 auto; box-shadow: 0 0 5px #2798e6; border-radius: 5px; background: #fff url(../images/login-bg.png) no-repeat left center; overflow: hidden;}
div[class="content"]:hover{box-shadow: 0 0 10px #007bd0; }
.content #login{ width: 366px; float: right; margin:8px 0px; padding:22px 0px 0px 78px ; border-left: 1px solid #c9c9c9;}
.content #login form{}
#login ul li{ font: normal 12px/34px '微软雅黑'; color:#999; margin-bottom: 10px;} 
#login ul input[type='text'],#login ul input[type='password']{ height: 34px; border: none; background:none; background: url(../images/login.png) no-repeat 286px center;  border: 1px solid #ccc; width: 310px;}
#login ul input.pwd{ background:url(../images/pwd.png) no-repeat 286px center;}
#login ul input.submit{ border: none; background: none; letter-spacing: 20px; background: url(../images/login-btn.png) no-repeat center; width: 307px; height:34px; font:normal 18px/34px "微软雅黑"; color: #fff; text-align: center;}
#login .others{ margin-top:46px;}
#login .others a{ color: #666;}
/*头部样式*/
#header{ right: 0; left: 0; top: 0; position: fixed; min-height:50px; background:#0e479d;  box-shadow: 0 0 15px blue;
      }
.wrap{ margin: 0 auto; width:1300px;}
#header div.logo{ float:left; margin-top:8px; margin-left:200px ;}
#header div.user{ float: right; font: normal 14px/2 '微软雅黑'; color:#fff; margin-top:12px;}
#header div.user a{ color:#fff ;}
/*导航样式*/
.container{ margin-top: 50px; }
menu{width:210px; }
menu ul{}



