@charset "utf-8";
ul,li{
	list-style: none;
}
.tittle{
	height: 50px;
}
.tittle li{
	height: 50px;
	line-height: 50px;
	padding: 0;
	padding: 0 30px;
	font-size: 14px;
}

.fewdata{
    background: none repeat scroll 0 0 #fcfcfc;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 20px 0 20px 30px;
}
.fewdata li{
	height: 40px;
	line-height: 40px;
}
.fewdata li:nth-child(1){
	font-size: 18px;
}
.fewdata li input{
	width: 60px;
	padding: 0 5px;
	margin-top: 5px;
	line-height: 30px;
	text-align: left;
}
.area3{
	padding: 20px 0  20px 30px;
}
.area3 .list1{
	width: 100%;
	overflow: hidden;
}
.area3 .list1 li:nth-child(1){
	width: 93%;
	float: left;
}
.area3 .list1 li:nth-child(2){
	float: left;
}
.area3 .list2{
	width: 100%;
	overflow: hidden;
}
.area3 .list2 li:nth-child(1){
	width: 50%;
	float: left;
}
.area3 .list2 li:nth-child(2){
	float: left;
}
.area3 .list2 li:nth-child(2) input{
	width: 400px;
	text-align: left;
}
/*.list2 .form-inline{
	display: table;
}
.form-inline span{
	display: table-cell;
	vertical-align: middle;
	font-family: "微软雅黑";
}
.form-inline input{
	display: table;
	vertical-align: middle;
}*/
.tittle li{
	font-family: "微软雅黑";
}
.fewdata li{
	font-family: "微软雅黑";
}
.fewdata span{
	font-family: "微软雅黑";
	font-size: 14px;
}
.list2 .form-control{
	vertical-align: inherit;
}
.form-inline .form-control{
	vertical-align: inherit;
}
.loadBox{
	height: 300px;
	/*text-align: center;*/
	padding-top: 100px;
}
.loadBox input{
	text-align: right;
	margin: 0 10px 0 10px;
	
}
.loadBox input[type=file]{
    margin-left:0;
	height: 32px;
	border: 1px solid #cccccc;
}
.loadBox .inne{
	width: 420px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
}
 .innr{
 	width: 420px;
 	margin: 0 auto;
	overflow: hidden;
}
 .innr input{
	float: left;
}
@media (min-width:768px){
	.form-inline .form-control{
		display:inline-block;
		margin-bottom:0;

	}
}














