<link href="../css/jquery.datatables.css" rel="stylesheet">
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#home3" data-toggle="tab"><strong>已审核</strong></a></li>
  <li><a href="#profile3" data-toggle="tab"><strong>待审核</strong></a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="home3">
	<div class="panel panel-default clearMar">
		<div class="panel-body">
		  <form class="form-inline">
		<div class="form-group">
		  <label class="sr-only" for="exampleInputEmail2">请输入直营店名称/联系人/代理商名称</label>
		  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="请输入直营店名称/联系人">
		</div>
		<div class="form-group">
			<select class="form-control">
	          <option>请选择区域</option>
	          <option>上海</option>
	          <option>上海</option>
		    </select>
		</div>
		<div class="form-group">
			<select class="form-control">
	          <option>请选择状态</option>
	          <option>待审核</option>
	          <option>已验证</option>
		    </select>
		</div>
		<button type="button" class="btn btn-default">查询</button>
		  </form>
		</div>
	</div>
		<div class="row">
				<ul class="filemanager-options">
					<li>
					  <div class="ckbox ckbox-default">
						<input type="checkbox" id="selectall" onclick="allSelect()" value="1">
						<label for="selectall">全选</label>
					  </div>
					</li>
					<li>
						<a class="btn btn-default btn-sm">删除</a>
					</li>
					<li>
						<a class="btn btn-primary btn-sm white ">批量审核</a
					</li>
					<li class="filter-type">
						<a class="btn btn-white btn-sm">下载模板</a>
						<a class="btn btn-primary btn-sm white">导入</a>
					</li>
				  </ul>
    	</div><!--总体操作-->
    	<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table mb30">
							<thead>
								<tr>
									<th>#</th>
									<th>名称</th>
									<th>归属</th>
									<th>区域</th>
									<th>联系人</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox1">
											<label for="checkbox1"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)">上海九星市场店</a></td>
									<td>上海总代</td>
									<td><a href="javascript:void(0)">上海&nbsp;&nbsp;黄浦区</a></td>
									<td>陈明</td>
									<td><a href="">待审核</a></td>
									<td>
										<a href="">审核</a>
										<a href="">编辑</a>
										<a href="">删除</a>
									</td>
								</tr>
								<tr class="tr-Shelter">
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox1">
											<label for="checkbox1"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)">上海九星市场店</a></td>
									<td>上海总代</td>
									<td><a href="javascript:void(0)">上海&nbsp;&nbsp;黄浦区</a></td>
									<td>陈明</td>
									<td><a href="">待审核</a></td>
									<td>
										<a href="">审核</a>
										<a href="" class="noShelter">编辑</a>
										<a href="" class="noShelter">删除</a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox1">
											<label for="checkbox1"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)">上海九星市场店</a></td>
									<td>上海总代</td>
									<td><a href="javascript:void(0)">上海&nbsp;&nbsp;黄浦区</a></td>
									<td>陈明</td>
									<td><a href="">待审核</a></td>
									<td>
										<a href="">审核</a>
										<a href="">编辑</a>
										<a href="">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="dataTables_info" id="table2_info" role="status" aria-live="polite">一共100条数据  每页显示 <input type="text"  value="4" style="width: 40px; text-align: center;" disabled=""> 共3页</div>
						<div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
							<a class="paginate_button first disabled" aria-controls="table2" data-dt-idx="0" tabindex="0" id="table2_first">首页</a>
							<a class="paginate_button previous disabled" aria-controls="table2" data-dt-idx="1" tabindex="0" id="table2_previous">上一页</a>
							<span>
								<a class="paginate_button current" aria-controls="table2" data-dt-idx="2" tabindex="0">1</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="3" tabindex="0">2</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="4" tabindex="0">3</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="5" tabindex="0">4</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="6" tabindex="0">5</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="7" tabindex="0">6</a>
							</span>
							<a class="paginate_button next" aria-controls="table2" data-dt-idx="8" tabindex="0" id="table2_next">下一页</a>
							<a class="paginate_button last" aria-controls="table2" data-dt-idx="9" tabindex="0" id="table2_last">尾页</a></div>
					</div><!--table-responsive-->
				</div><!--panel-body-->
			</div><!--panel-->
			</div><!---row-->
	</div><!--tab-pane-->
	<div class="tab-pane" id="profile3">
	<div class="panel panel-default clearMar">
		<div class="panel-body">
		  <form class="form-inline">
		<div class="form-group">
		  <label class="sr-only" for="exampleInputEmail2">请输入直营店名称/联系人/代理商名称</label>
		  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="请输入直营店名称/联系人">
		</div>
		<div class="form-group">
			<select class="form-control">
	          <option>请选择区域</option>
	          <option>上海</option>
	          <option>上海</option>
		    </select>
		</div>
		<div class="form-group">
			<select class="form-control">
	          <option>请选择状态</option>
	          <option>待审核</option>
	          <option>已验证</option>
		    </select>
		</div>
		<button type="button" class="btn btn-default">查询</button>
		  </form>
		</div>
	</div>
		<div class="row">
				<ul class="filemanager-options">
					<li>
					  <div class="ckbox ckbox-default">
						<input type="checkbox" id="selectall" value="1">
						<label for="selectall">全选</label>
					  </div>
					</li>
					<li>
						<a class="btn btn-default btn-sm">删除</a>
					</li>
					<li class="filter-type">
						<a class="btn btn-white btn-sm">分配公众号</a>
						<a class="btn btn-primary btn-sm white">导出</a>
					</li>
				  </ul>
    	</div><!--总体操作-->
    	<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table mb30">
							<thead>
								<tr>
									<th>#</th>
									<th>名称</th>
									<th>归属</th>
									<th>区域</th>
									<th>导购数</th>
									<th>所属公众号</th>
									<th>门店状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox1">
											<label for="checkbox1"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)">上海九星市场店</a></td>
									<td>上海总代</td>
									<td><a href="javascript:void(0)">上海&nbsp;&nbsp;黄浦区</a></td>
									<td><a href="#">2</a></td>
									<td><a href="#">老板电器上海公众号</a></td>
									<td>待验证</td>
									<td>
										<a href="">编辑</a>
										<a href="">暂停</a>
										<a href="">删除</a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox1">
											<label for="checkbox1"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)">上海九星市场店</a></td>
									<td>上海总代</td>
									<td><a href="javascript:void(0)">上海&nbsp;&nbsp;黄浦区</a></td>
									<td><a href="#">2</a></td>
									<td><a href="#">老板电器上海公众号</a></td>
									<td>待验证</td>
									<td>
										<a href="">编辑</a>
										<a href="">暂停</a>
										<a href="">删除</a>
									</td>
								</tr>
								<tr class="tr-Shelter">
									<td>
										<div class="ckbox ckbox-success">
											<input type="checkbox" id="checkbox1">
											<label for="checkbox1"></label>
										</div>
									</td>
									<td><a href="javascript:void(0)">上海九星市场店</a></td>
									<td>上海总代</td>
									<td><a href="javascript:void(0)">上海&nbsp;&nbsp;黄浦区</a></td>
									<td><a href="#">2</a></td>
									<td><a href="#">老板电器上海公众号</a></td>
									<td>已隐蔽</td>
									<td>
										<a href="">编辑</a>
										<a href="" class="noShelter">恢复</a>
										<a href="">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="dataTables_info" id="table2_info" role="status" aria-live="polite">一共100条数据  每页显示 <input type="text"  value="4" style="width: 40px; text-align: center;" disabled=""> 共3页</div>
						<div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
							<a class="paginate_button first disabled" aria-controls="table2" data-dt-idx="0" tabindex="0" id="table2_first">首页</a>
							<a class="paginate_button previous disabled" aria-controls="table2" data-dt-idx="1" tabindex="0" id="table2_previous">上一页</a>
							<span>
								<a class="paginate_button current" aria-controls="table2" data-dt-idx="2" tabindex="0">1</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="3" tabindex="0">2</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="4" tabindex="0">3</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="5" tabindex="0">4</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="6" tabindex="0">5</a>
								<a class="paginate_button " aria-controls="table2" data-dt-idx="7" tabindex="0">6</a>
							</span>
							<a class="paginate_button next" aria-controls="table2" data-dt-idx="8" tabindex="0" id="table2_next">下一页</a>
							<a class="paginate_button last" aria-controls="table2" data-dt-idx="9" tabindex="0" id="table2_last">尾页</a></div>
					</div><!--table-responsive-->
				</div><!--panel-body-->
			</div><!--panel-->
			</div><!---row-->
	</div>
</div>