<div class="row">	
	<div class="panel panel-body">
		<a class="logo-img"><img src="../images/photos/blog1.jpg" width="220px" height="164px" /></a>
		<h4 class="text-info">杭州老板电器股文一华商店</h4>
		<address>地址：浙江省余杭经济开发区临平大道592号</address>
		<address>总机：0571-86281888                            <span style="display: inline-block; margin-left: 200px;">  联系人：陈少华</span></address>
		<address>所属公众号：老板电器浙江</address>
		<address>门店类型：代理商下属门店</address>
		<address>所属代理商：浙江总代</address>
		<address>状态：正常</address>
		<address>主营业务：油烟机、厨柜</address>
		<address><label>二维码使用情况：</label>
			     <div class="progress">
	                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	                  <span class="sr-only">20% Complete</span>
	                </div>
	              </div>
		</address>
		<ul class="ul-total">
			<li>商品总数:<a>9856</a></li>
			<li>导航数:<a>5</a></li>
			<li>订单数:<a>19885</a></li>
			<li>评价数:<a>8748</a></li>
	    </ul>
	    <div class="form-group">
	    	<a class="btn btn-white">重新分配公众号</a>
	    	<a class="btn btn-primary winO2OPanel" data-toggle="modal" data-target=".bs-example-modal-lg" data-url="alertShoEdit.html" data-title="新建直营店">修改基本信息</a>
	    	<a class="btn btn-primary">暂停</a>
	    	<a class="btn btn-primary">删除</a>
	    	<a class="btn btn-primary">修改二维码数</a>
	    	<a class="btn btn-primary">新增导购</a>
	    	<a class="btn btn-primary">返回</a>
	    </div>
	</div>
</div>