@model Model.ShopInfo

@{
    ViewBag.Title = "Create";
    Layout = "";
}

<div class="modal fade" id="Enterprise_Create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" id="frnAdd" data-ajax="true" data-callback="testCallback" action="/ShopInfo/Create">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增直营店</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">渠道类型 <span class="asterisk">*</span></label>
                        <div class="col-sm-9">
                            <div class="rdio rdio-primary">
                                <input type="radio" id="male" value="m" name="gender" checked="checked" required="">
                                <label for="male">直营店</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">直营店名称<span class="asterisk">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.ShopName, new { @Class = "form-control", placeholder = "限制在15个字符内" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属区域<span class="asterisk">*</span></label>
                        <div class="col-sm-9">
                            @Html.DropDownList("Province", null, "请选择省", htmlAttributes: new { @class = "ver-select", style = "width:Auto;display:inline;" })
                            <select id="City" name="City" class="ver-select">
                                <option value="0">请选择市</option>
                            </select>
                            <select id="County" name="County" class="ver-select">
                                <option value="0">选择区/县</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">联系人<span class="asterisk">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Contact, new { @Class = "form-control", placeholder = "限制在10个字符内" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">注册手机号<span class="asterisk">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.TElSHA, new { @Class = "form-control", placeholder = "请输入手机号" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属分组<span class="asterisk">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="ChannelGroupID" id="ChannelGroupID">
                                <option>请选择渠道分组</option>
                                <option>滨江区</option>
                                <option>上海</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="保存" />
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="EditClose">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>

