@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Css/jquery.datatables.css" rel="stylesheet" />
    <link href="~/Css/selling.css" rel="stylesheet" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
    <link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />

}

<div class="">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row1">
                <span class="rowTittle">商品名称:</span>
                <div class="rowRight">
                    <a class="btn btn-primary btn-sm  winO2OPanel" data-toggle="modal" data-target=".bs-example-modal-lg" id="openAuto" data-title="选择自定义评价商品">选择自定义评价商品</a><br />
                </div>
            </div>
            <div class="row1" style="padding: 0 20px;" id="goodsList">
                <span class="proLable">
                    <span class="proName">商品A商品A商品A商品A商品A商品A商品A</span>
                    <i class="close" onclick="deleted(this)">x</i>
                </span>
                <span class="proLable">
                    <span class="proName">商品B</span>
                    <i class="close" onclick="deleted(this)">x</i>
                </span>
                <span class="proLable">
                    <span class="proName">商品C</span>
                    <i class="close" onclick="deleted(this)">x</i>
                </span>

            </div>

            <div class="row1">
                <span class="rowTittle">买家姓名:</span>
                <div class="rowRight">
                    <input class="form-control" type="text" name="" id="" value="" placeholder="买家姓名" />
                </div>
            </div>

            <div class="row1">
                <span class="rowTittle">来源门店:</span>
                <div class="rowRight">
                    <select class="form-control">
                        <option>选择来源门店</option>
                        <option>选择来源门店</option>
                        <option>选择来源门店</option>
                    </select>
                </div>
            </div>

            <div class="row1">
                <span class="rowTittle">购买时间:</span>
                <div class="rowRight">
                    <input type="date" class="form-control hasDatepicker input-sm0" placeholder="mm/dd/yyyy" id="datepicker">
                </div>
            </div>

            <div class="row1">
                <span class="rowTittle">评论时间:</span>
                <div class="rowRight">
                    <input class="form-control input-sm0" type="time" name="" id="" value="" />
                </div>
            </div>

            <div class="row1">
                <span class="rowTittle">评论内容:</span>
                <div class="rowRight">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home"><strong>图文</strong></a></li>
                        <li class=""><a data-toggle="tab" href="#profile"><strong>语音</strong></a></li>
                    </ul>
                    <div class="tab-content mb30">
                        <div id="home" class="tab-pane active">
                            <div class="panel-body">
                                <form class="dropzone dz-clickable" action="files">
                                    <div class="imgBox">
                                        <span class="upLoadimg">
                                            上传图片
                                            <input id="#file0" type="file" onchange="changeFile(this)" />
                                        </span>
                                        <img id="img0" src="../images/login-bg.png" />
                                        <img src="../images/login-bg.png" />
                                    </div>
                                </form>
                            </div>
                            <div class="texta">
                                <div class="area1">
                                    <textarea class="form-control" placeholder="请在这里进行文字评价"></textarea>
                                    <p>还可以输入400字</p>
                                </div>
                            </div>
                        </div>
                        <div id="profile" class="tab-pane">
                            <div class="panel-body">
                                <form class="dropzone dz-clickable" action="files">
                                    <div class="imgBox">
                                        <span class="upLoadimg">
                                            上传语音
                                            <input type="file" />
                                        </span>
                                        <a href="#" class="btn btn-sm btn-default btnPo">语音1</a>
                                        <a href="#" class="btn btn-sm btn-default btnPo">语音2</a>
                                    </div>
                                </form>
                            </div>
                            <div class="texta panel-body">
                                <div class="area1">
                                    <textarea class="form-control" placeholder="请在这里进行语音翻译"></textarea>
                                    <p>还可以输入400字</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="area2">
                        <textarea class="form-control" placeholder="请在这里进行回复"></textarea>
                        <p>还可以输入500字</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="row1">
            <a class="btn btn-primary reset">发布</a>
        </div>
    </div>
</div>
<style>
    .panel-default {
        background: white;
    }

    .tab-content {
        background: #fcfcfc;
    }
</style>







@section scripts
{
    <script src="~/Scripts/public.js"></script>
    <script src="~/Plugin/selectall/jquery-selectall.js"></script>
    <script src="~/Plugin/pager/jquery-pager.js"></script>
    <script src="~/Scripts/GoodsBasic/Index.js"></script>

    <script src="~/Plugin/window/jquery-window.js"></script>

    <script type="text/javascript">


        $("#openAuto").click(function () {
            $.windowBase({
                id: "autoOpen",
                title: "编辑",
                isShowBtn: false,
                callbackStr: "funClose",
                url: '/GoodsBasic/AutoGoodsBasic/',
                ele: "EditRolePower",
                width: 1200,
                height: 600
            });
        });

        function setSelectGoods(obj) {
            //<span class="proLable">
            //        <span class="proName">商品C</span>
            //        <i class="close" onclick="deleted(this)">x</i>
            //    </span>
            
            $.each(obj, function () {
                var o = $("#goodsList").find("span[class='proLable'][id='" + this.id + "']");
                if(!o || o.length ==0){
                    var html = '<span class="proLable" id="' + this.id + '">';
                    html += ' <span class="proName">' + this.name + '</span>';
                    html += '<i class="close" onclick="deleted(this)">x</i>';
                    html += "</span>";
                    $("#goodsList").append(html);
                }
            });
            

            
        }

        function deleted(_this) {
            $(_this).parent().remove();
        }
    </script>

}
