@{
    ViewBag.Title = "老客户回访";
}
@section styles
{
    @*这里防止css文件，不允许放到外面 *@
    <link href="~/Css/jquery.datatables.css" rel="stylesheet" />
    <link href="~/Css/base.css" rel="stylesheet" />
    @* 引用分页样式 *@
    <link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
    @* 模式窗口样式 *@
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
}
<div class="">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Ajax.BeginForm("../ReturnVisit/GetTotal", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "success" }, new { Class = "form-inline", id = "ReturnVisitForm" }))
            {
                <input type="hidden" id="orderby" name="orderby" />
                <div class="form-group">
                    <input type="text" id="keywords" name="keywords" class="form-control input-sm" id="exampleInputEmail2" placeholder="请输入商品名称/买家姓名">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">查询</button>
            }
        </div>
    </div>
</div>
<div class="">
    <ul class="filemanager-options">
        <li>
            <label style="display: inline-block; height: 34px; font: normal 12px/34px '';">排序</label>
            <a href="javascript:void(0)" name="Arorderby" thisvalue="0" class="btn btn-default btn-sm" isck="-1">购买时间</a>
            <a href="javascript:void(0)" name="Arorderby" thisvalue="1" class="btn btn-default btn-sm" isck="-1">评价时间</a>
        <li class="filter-type">
            <a class="btn btn-primary btn-sm white HrefFrame" data-au="OldCommEdit" href="/ReturnVisit/Create"
               data-div=".contentpanel" data-title="新建老客户回访">新建老客户回访</a>
        </li>
    </ul>
</div><!--总体操作-->
<div class="">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table mb30" id="ReturnVisitTable">
                    <thead>
                        <tr>
                            <th>商品信息</th>
                            <th>买家姓名</th>
                            <th>来源门店</th>
                            <th>购买时间</th>
                            <th>评价时间</th>
                            <th>采访方式</th>
                            <th>回访录音</th>
                            <th>文字翻译</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                @* 分页标签 *@
                <span class="pager"></span>
            </div><!--table-responsive-->
        </div><!--panel-body-->
    </div><!--panel-->
</div><!---row-->
@section scripts
{
    @* 引用语音播放插件 *@
    <script src="~/Plugin/video/jquery-video.js"></script>
    @* 引用分页插件 *@
    <script src="~/Plugin/pager/jquery-pager.js"></script>
    @* 引用页面js *@
    <script src="~/Scripts/ReturnVisit/Index.js"></script>
    @* ajax提交必须要引用 *@
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
