<div class="logopanel">
    <h1><img id="imgEnterpriseLogo" height="40" /></h1>
</div><!-- logopanel -->
<div class="leftpanelinner">
    <h5 class="sidebartitle"></h5>
    <ul class="nav nav-pills nav-stacked nav-bracket" id="O2OMenu">
       
    </ul>
</div>


